#game {
	border: 1px solid #000000;
}

#game .grid {
	position: absolute;
}

#game .block {
	position: absolute;
}

#game .block.family1 { background-color: #ff0000; }
#game .block.family2 { background-color: #00ff00; }
#game .block.family3 { background-color: #0000ff; }
#game .block.family4 { background-color: #ffff00; }
#game .block.family5 { background-color: #ff00ff; }